.task-list-summary {
  text-align: center;
  padding: $m-size;
  background: white;
}

.task-list-summary__count {
  display: block;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    float: left;
  }
}
